.ui.toggle.buttons .ui.button {
  font-weight: normal !important;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.ui.toggle.buttons .ui.button.readonly {
  cursor: default !important;
}

.ui.toggle.buttons .ui.button.readonly:not(.active) {
  background-color: #e7eae9 !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.field.error .ui.toggle.buttons .ui.button {
  background-color: #fff0f0;
  border: 1px solid #dbb1b1;
  color: #a94442;
}
